/* GLOBAL */
:root {
    --header-height: clamp(80px, 10vw, 220px);
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* HEADER */
.header-title-box {
    width: 100%;
    height: var(--header-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    box-sizing: border-box;
    border: 4px solid black;
    background: white;
}

/* CONTACT OVERLAY */
.site-header.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}

.site-header.overlay .header-title-box {
    width: 100%;
    height: var(--header-height);

    background: transparent;
    border-color: black;
}

.site-header.overlay a {
    color: white;
}

/* LINKS */
.header-title-box a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
}

/* CONTACT LINK COLOR */
.site-header.overlay a {
    color: white;
}

/* HEADER TEXT */
.header-title-box-title {
    font-weight: 500;
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 1;
    margin-bottom: 12px;
}

.header-title-box-subtitle {
    font-weight: 300;
    font-size: clamp(0.85rem, 2vw, 1.1rem);
    line-height: 1.2;
    margin-top: 6px;
}

.header-title-box-subtitle.active {
    text-decoration: underline;
}

/* INDEX IMAGE */
.image-slide-wrap {
    width: 100%;
    overflow: hidden;
}

.image-slide-wrap img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

/* CONTACT PAGE */
.image-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#wave-canvas {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    filter: blur(7px) brightness(90%);
    transform: scale(1.08);
}

.contact-page-text {
    position: absolute;
    z-index: 5;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .site-header:not(.overlay) .header-title-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .header-title-box-title,
    .header-title-box-subtitle {
        margin: 0;
    }

    .image-slide-wrap {
        height: 800px;
    }
}
